{% extends 'base.html' %}
{% set active_page = "index" %}

{% block head %}
  <title>Flyby | Dashboard</title>
{% endblock %}

{% block body %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3><a data-placement="bottom" data-toggle="fileGen" title="Coming soon" data-content="Feature is coming soon . . ." class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a></div>
                    <div class="row">
                      <div class="col-md-6 col-xl-3 mb-4">
                          <div class="card shadow border-left-info py-2">
                              <div class="card-body">
                                  <div class="row align-items-center no-gutters">
                                      <div class="col mr-2">
                                          <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>scanned systems (TOTAL)</span></div>
                                          <div class="text-dark font-weight-bold h5 mb-0"><span>{{stats['tScanned']}}</span></div>
                                      </div>
                                      <div class="col-auto"><i class="fas fa-server fa-2x text-gray-300"></i></div>
                                  </div>
                              </div>
                          </div>
                      </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Secure systems (TOTAL)</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{stats['sSystems']}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-shield-alt fa-0.5x text-gray-300"></i><i class="fas fa-server fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Vulnerable Systems (TOTAL)</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{stats['tVulnerable']}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-bug fa-1.5x text-gray-300"></i><i class="fas fa-server fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-danger py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>Vulnerable Services (TOTAL)</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{stats['tVulnerabilities']}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-bug fa-1.5x text-gray-300"></i><i class="fas fa-microchip fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Overall System Stats</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="doughnutChart"</canvas></div>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">Tasks
                            {% if jobs %}
                            <form style="float:right;"action="/clearscans" method="POST">
                            <button value="" name="key" class="btn btn-danger btn-sm d-none d-sm-inline-block" type="submit">
                                <i class="fas fa-ban"></i>
                            </button>
                            </form>
                            {% endif %}
                          </h6>
                        </div>
                        {% if jobs %}
                        <div class="text-center"><br>{{scanStatus|safe}}<br></div>
                        {% for job in jobs %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <h6 class="mb-0"><strong>Vulnerability Scan</strong></h6>
                                        <span class="text-xs">Host: {{ job.args }}</span><br>
                                        <span class="text-xs">Job ID: {{ job.id }}</span><br>
                                        <span class="text-xs">Created at: {{ job.created_at.strftime('%a, %d %b %Y %H:%M:%S') }}</span><br>
                                      </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                          <div class="text-center">{{scanStatus|safe}}<br></div>
                                      </div>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
          </div>
          </div>
                      <script>

                        $(document).ready(function(){
                            $('[data-toggle="fileGen"]').popover();
                        });

                        // {"type":"doughnut","data":{"labels":["Direct","Social","Referral"],"datasets":[{"label":"","backgroundColor":["#4e73df","#1cc88a","#36b9cc"],"borderColor":["#ffffff","#ffffff","#ffffff"],"data":["50","30","15"]}]},"options":{"maintainAspectRatio":false,"legend":{"display":false},"title":{}}}
                        //doughnut
                            var ctxD = document.getElementById("doughnutChart").getContext('2d');
                            var myLineChart = new Chart(ctxD, {
                            type: 'doughnut',
                            data: {
                            labels: ["Secure", "Vulnerable"],
                            datasets: [{
                            data: [{{stats['sSystems']}}, {{stats['tVulnerable']}},],
                            backgroundColor: ["#1cc88a", "#f6c23e"],
                            }]
                            },
                            options: {
                              maintainAspectRatio: false,
                              responsive: true,
                              legend: {
                                position: 'bottom'
                              }
                            }
                          });

                          //line
                            var ctxL = document.getElementById("lineChart").getContext('2d');
                            var myLineChart = new Chart(ctxL, {
                            type: 'line',
                            data: {
                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                            datasets: [{
                            label: "My First dataset",
                            data: [65, 59, 80, 81, 56, 55, 40],
                            backgroundColor: [
                            'rgba(105, 0, 132, .2)',
                            ],
                            borderColor: [
                            'rgba(200, 99, 132, .7)',
                            ],
                            borderWidth: 2
                            },
                            {
                            label: "My Second dataset",
                            data: [28, 48, 40, 19, 86, 27, 90],
                            backgroundColor: [
                            'rgba(0, 137, 132, .2)',
                            ],
                            borderColor: [
                            'rgba(0, 10, 130, .7)',
                            ],
                            borderWidth: 2
                            }
                            ]
                            },
                            options: {
                            responsive: true
                            }
                            });
                        </script>

{% endblock %}
